@model IEnumerable<Data.Models.MobilePhoneDataPlanAssignment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="border backgroundWhite">
    <div class="row">
        <div class="col-12">
            <h2 class="text-black">
                Mobile Phone Data Plan Assignment
            </h2>
        </div>
    </div>
    <br />

    <table class="table table-striped border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPlanAssignmentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalDataUsage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternationalDataUsage)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneLine.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPlan.DataPlanId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPlanAssignmentDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalDataUsage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternationalDataUsage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { phoneNumber = item.PhoneNumber, dateTime = item.DataPlanAssignmentDateTime, dataPlanId = item.DataPlanId/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new { phoneNumber = item.PhoneNumber, dateTime = item.DataPlanAssignmentDateTime, dataPlanId = item.DataPlanId/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new { phoneNumber = item.PhoneNumber, dateTime = item.DataPlanAssignmentDateTime, dataPlanId = item.DataPlanId/* id=item.PrimaryKey */})
                </td>
            </tr>
        }
    </table>
</div>