@model IEnumerable<Data.Models.LandlinePhoneCall>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="border backgroundWhite">
    <div class="row">
        <div class="col-12">
            <h2 class="text-black">
                Landline Phone Call
            </h2>
        </div>
    </div>
    <br />

    <table class="table table-striped border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandlinePhoneCallDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandlinePhoneCallDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandlinePhoneCallAddressee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandlinePhoneCallCost)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandlinePhoneCallDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandlinePhoneCallDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandlinePhoneCallAddressee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandlinePhoneCallCost)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { extension = item.Extension, dateTime = item.LandlinePhoneCallDateTime, employeeId = item.EmployeeId /* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new { extension = item.Extension, dateTime = item.LandlinePhoneCallDateTime, employeeId = item.EmployeeId /* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new { extension = item.Extension, dateTime = item.LandlinePhoneCallDateTime, employeeId = item.EmployeeId /* id=item.PrimaryKey */})
                </td>
            </tr>
        }
    </table>
</div>